<h1 mat-dialog-title>Add Tester</h1>

<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Test Center</mat-label>
      <mat-select required>
        <mat-option value="">Test Center 1</mat-option>
        <mat-option value="">Test Center 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput
        type="text"
        name="username"
        ngModel
        required
        placeholder="Username">
    </mat-form-field>
    <mat-form-field>
    <mat-label>Password</mat-label>
      <input matInput
        type="password"
        name="password"
        ngModel
        required
        placeholder="Password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput
        type="text"
        name="name"
        ngModel
        required
        placeholder="Name">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="floatRight">
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button mat-raised-button color="accent" cdkFocusInitial type="submit">Add</button>
</div>

