<h1 mat-dialog-title>Edit Information</h1>

<form (submit)="editInfo(editInfoForm)" #editInfoForm="ngForm">
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Test ID</mat-label>
      <input matInput
      type="text"
      name="testID"
      value="{{ testCase.testID }}"
      readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Patient Name</mat-label>
      <input matInput
      type="text"
      name="name"
      readonly
      value="{{ user }}">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Patient Type</mat-label>
      <mat-select [(value)]="selectedType"
      required name="type"
      [(ngModel)]="selectedType">
        <mat-option [value]="option.value"
        *ngFor="let option of type">{{ option.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Symptom</mat-label>
      <textarea
        matInput
        rows="4"
        name="symptom"
        [(ngModel)]="testCase.symptom"
        required
        placeholder="e.g. Description of the sickness"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tester incharge</mat-label>
      <input matInput
        type="text"
        name="officerID"
        readonly
        value="{{ tester }}">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Test Created</mat-label>
      <input matInput
        type="text"
        name="testCreated"
        readonly
        value="{{ testCase.testCreated }}">
    </mat-form-field>
    <!-- <p>{{ testCase.testCreated | date : "medium" }}</p> -->

    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput
      type="text"
      name="status"
      readonly
      value="{{ testCase.status }}">
    </mat-form-field>

</div>

<div mat-dialog-actions class="floatRight">
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button mat-raised-button color="accent" cdkFocusInitial type="submit">Add</button>
</div>
</form>
