
/* #card-container {
  display: flex;
  flex-flow: row wrap;
} */

.card {
  width: 100%;
}

.mat-card {
  margin: 20px;
}

.text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btnPatient {
  margin-right: 10px;
}

h2 {
  padding-top: 15px;
}
