
<div id="card-container">
  <mat-grid-list cols="4" rowHeight=" 1 : 0.4"
  (window:resize)="onResize($event)">
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-title-group>
          <mat-card-title>Total Returnee</mat-card-title>
          <mat-card-subtitle>--Example--</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-title-group>
          <mat-card-title>Total Suspected</mat-card-title>
          <mat-card-subtitle>--Example--</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-title-group>
          <mat-card-title>Total Quarantined</mat-card-title>
          <mat-card-subtitle>--Example--</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>
    </mat-grid-tile>


  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title-group>
        <mat-card-title>Total Infected</mat-card-title>
        <mat-card-subtitle>--Example--</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>

<mat-card class="form-card">
  <button mat-button mat-raised-button color="primary" (click)="openDialogPatient()" class="btnPatient">Add Patient</button>
  <button mat-button mat-raised-button color="primary" (click)="openDialogTest()" class="btnTest">Add Test</button>

  <div class="table">
    <h2 mat-dialog-title>Test Case</h2>
    <!-- <div class="mat-elevation-z8"> -->

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterTestCase($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataTestCase" matSort>

        <!-- Test ID Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.no}} </td>
        </ng-container>

        <!-- Patient Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Patient Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Symptom Column -->
        <ng-container matColumnDef="symptom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Symptom </th>
          <td mat-cell *matCellDef="let element"> {{element.symptom}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit Info</span>
              </button>
              <button mat-menu-item>
                <mat-icon>receipt_long</mat-icon>
                <span>Update Result</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete_forever</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedTestCaseCol"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedTestCaseCol;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  <!-- </div> -->

  <div class="table2">
    <h2 mat-dialog-title>Patient</h2>
    <!-- <div class="mat-elevation-z8"> -->
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterPatient($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataPatient" matSort>

        <!-- Test ID Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let patient"> {{patient.no}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let patient"> {{patient.username}} </td>
        </ng-container>

        <!-- Patient Type Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
          <td mat-cell *matCellDef="let patient"> {{patient.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedPatientCol"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedPatientCol;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>




