
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mode.value" class="nav-side">
    <span class="material-icons big-icon">account_box</span>
    <a routerLink="/testcase" routerLinkActive="active" mat-button><span class="material-icons">supervisor_account</span>Officer</a>
    <a routerLink="" routerLinkActive="active" mat-button><span class="material-icons">store</span>Test Center</a>
    <a routerLink="" routerLinkActive="active" mat-button><span class="material-icons">biotech</span>Test Kit</a>
  </mat-sidenav>


  <mat-sidenav-content>
    <div class="nav-header">
      <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
        <span class="material-icons">menu</span>
      </button>
      <a>Officer</a>
      <span class="nav-fill-remaining-space"></span>
      <button mat-button color="basic" class="logout floatRight">
        <span class="material-icons">login</span>
      </button>
    </div>

    <mat-sidenav-container class="nav-container">
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>


