<h1 mat-dialog-title>New Test</h1>
<form (submit)="onAddTest(addTestForm)" #addTestForm="ngForm">
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>Choose a patient</mat-label>
      <mat-select
      required
      name="patientID"
      ngModel
      #patientID="ngModel">
        <mat-option value="{{ patient.userID }}" *ngFor="let patient of patients"> {{ patient.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf = "patientID.invalid">Please choose a patient</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Patient Type</mat-label>
      <mat-select
      required
      name="type"
      ngModel
      #type="ngModel">
        <mat-option value="Returnee">Returnee</mat-option>
        <mat-option value="Quarantined">Quarantined</mat-option>
        <mat-option value="Close Contact">Close Contact</mat-option>
        <mat-option value="Infected">Infected</mat-option>
        <mat-option value="Suspected">Suspected</mat-option>
      </mat-select>
      <mat-error *ngIf = "type.invalid">Please choose a type</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Symptom</mat-label>
      <textarea
        matInput
        rows="4"
        name="symptom"
        ngModel
        required
        placeholder="e.g. Description of the sickness"
        #symptom="ngModel"></textarea>
        <mat-error *ngIf = "symptom.invalid">Please enter a post title</mat-error>
    </mat-form-field>
</div>


<div mat-dialog-actions class="floatRight">
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button mat-raised-button color="accent" cdkFocusInitial type="submit">Add</button>
</div>
</form>
