<h1 mat-dialog-title>{{ title }}</h1>

<form (submit)="updateTest(updateTestFrom)" #updateTestFrom="ngForm">
  <div mat-dialog-content *ngIf="testCase.status === 'Pending'">
    <mat-form-field>
      <mat-label>Result</mat-label>
      <textarea matInput
      type="text"
      name="result"
      required
      ngModel
      placeholder="e.g. reason of the test"
      #result="ngModel"></textarea>
      <mat-error *ngIf = "result.invalid">Please enter the result</mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-content *ngIf="testCase.status === 'Completed'">
    <mat-form-field>
      <mat-label>Result</mat-label>
      <textarea matInput
      rows="4"
      type="text"
      name="result"
      readonly
      [(ngModel)]="testCase.result"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="floatRight">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button mat-raised-button color="accent" cdkFocusInitial type="submit">Add</button>
  </div>
</form>
