<h1 mat-dialog-title>Update Stock</h1>
<form (submit)="onUpdateTestKit(updateTestKitForm)" #updateTestKitForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input matInput type="number" [(ngModel)]="testKit.stock"
        required min="0" placeholder="Ex. 10" #stock="ngModel" name="stock">
      <mat-error *ngIf="stock.invalid">Please enter stock number</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="floatRight">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button mat-raised-button color="accent" cdkFocusInitial type="submit">Update</button>
  </div>
</form>
