<h1 mat-dialog-title>Edit Information</h1>

<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Tester ID</mat-label>
      <input disabled>Manager 1
    </mat-form-field>

    <mat-form-field>
      <mat-label>Test Date</mat-label>
      <p>27/07/2020</p>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Patient Type</mat-label>
      <p>Suspected</p>
    </mat-form-field>
    <!-- <mat-error *ngIf = "username.invalid">Please enter a post title</mat-error> -->

    <mat-form-field>
      <mat-label>Symptom</mat-label>
      <textarea
        matInput
        row="4"
        name="symptom"
        ngModel
        required
        placeholder="e.g. Description of the sickness"></textarea>
    </mat-form-field>
    <!-- <mat-error *ngIf = "password.invalid">Please enter a post title</mat-error> -->

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input type="date" name="dateCreated" matInput [matDatepicker]="picker" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput
      type="text"
      name="status"
      disabled
      > Pending
    </mat-form-field>

    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput
      type="text"
      name="location"
      disabled
      > Cheras Branch
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tester Incharge</mat-label>
      <input matInput
      type="text"
      name="testerIncharge"
      disabled
      > Manager1
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions class="floatRight">
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button mat-raised-button color="accent" cdkFocusInitial type="submit">Add</button>
</div>
